*.pyc
__pycache__
**/__pycache__/
**/archive/
.history/
**/.history/
*.log
.env
.env*
wandb/
.prompt_history/
.litellm_cache/

data/
files/
cache/
reward_logs/
sema/toys/
data/advbench.csv
data/jailbreak_toy.json
.cache/
